<ion-content>
  <ion-card class="firstCard">
    <ion-card-header>
      <ion-card-title>Vous pouvez rentrer ici le nom de votre serveur</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="search" [(ngModel)]="serveur" (keyup.enter)="clickRejoindre()"
                   label="Nom du serveur" label-placement="floating"></ion-input>
      </ion-item>
      <br>
      <ion-button shape="round" (click)="clickRejoindre()">Entrer</ion-button>
    </ion-card-content>
  </ion-card>

  <br>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Vous souhaitez créer un nouveau serveur ?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="search" [(ngModel)]="newServeur" (keyup.enter)="clickCreer()"
                   label="Nom du serveur" label-placement="floating"></ion-input>
      </ion-item>
      <br>
      <ion-button shape="round" (click)="clickCreer()">Créer</ion-button>
    </ion-card-content>
  </ion-card>

  <br>

  <ion-card *ngIf="favoris">
    <ion-card-header>
      <ion-card-title>Liste des favoris</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let favori of favoris" class="ion-text-center" (click)="clickRejoindre(favori)">
          <ion-label>{{favori}}</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>
