<ion-header>
  <ion-toolbar>
    <ion-title>Ajouter un message</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Pour rajouter un message, c'est ici ! 👇
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-grid>
          <ion-row>
            <ion-col size="12" size-sm="6">
              <ion-item>
                <ion-input type="text" [(ngModel)]="nom" label="Nom"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col size="12" size-sm="6">
              <ion-item>
<!--                <ion-input type="date" value="2022-02-02" #dateSelect [(ngModel)]="date" label="Date"></ion-input>-->
                <ion-datetime-button datetime="dateCitation" color="medium"></ion-datetime-button>

                <ion-popover [keepContentsMounted]="true">
                  <ng-template>
                    <ion-datetime id="dateCitation" presentation="date" color="medium"></ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-textarea label="Message" labelPlacement="floating" type="text" [autoGrow]="true" [(ngModel)]="message"></ion-textarea>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-list>
    </ion-card-content>

    <ion-card-content style="text-align: center">
      <ion-button fill="clear" shape="round" color="dark" (click)="envoyer()">
        <ion-icon name="add-circle-outline" slot="start"></ion-icon>
        Envoyer
        <ion-icon name="add-circle-outline" slot="end"></ion-icon>
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
