<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" fill="clear" color="dark" shape="round" (click)="editNomServeur()">
      <ion-icon name="create-outline"></ion-icon>
    </ion-button>
    <ion-title>
      ឵឵ {{nomServeur}}
    </ion-title>

    <ion-button slot="end" fill="clear" (click)="boutonRefresh()" color="tertiary" shape="round">
      <ion-icon name="refresh" #refresh></ion-icon>
    </ion-button>

    <ion-button slot="end" fill="clear" (click)="supprimerServeur()" color="danger" shape="round">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-button>

    <ion-button slot="end" fill="clear" color="warning" (click)="deconnexion()" shape="round">
      <ion-icon name="exit-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="pasDeMessage" *ngIf="liste !== undefined && !liste.length">
    <ion-card-header>
      <ion-card-title>
        Aucun message n'a été posté pour l'instant, n'hésitez pas à créer le premier !
      </ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card *ngFor="let message of liste">
    <ion-card-content>
      {{message}}
    </ion-card-content>
  </ion-card>
</ion-content>
