.pasDeMessage {
  margin-top: 10vh;
}

.boutonSupp {
  @media screen and (min-width: 500px) {
    $taille: 3vw;
    width: $taille;
    height: $taille;
    line-height: $taille;
  }
  @media screen and (max-width: 500px) {
    $taille: 9vw;
    width: $taille;
    height: $taille;
    line-height: $taille;
  }

  margin-top: 1vw;
}
