.pasDeMessage {
  @media screen and (min-width: 500px) {
    width: 40vw;
  }
  @media screen and (max-width: 500px) {
    width: 75vw;
  }
  text-align: center;
  opacity: 90%;
  border-radius: 20px;
  margin: 10vh auto auto;
}
