.pasDeMessage {
  margin-top: 10vh;
}

ion-card {
  @media screen and (min-width: 500px) {
    width: 50vw;
  }
  @media screen and (max-width: 500px) {
    width: 80vw;
  }
  text-align: center;
  border-radius: 20px;
  margin: 1vh auto auto;
}

.boutonSupp {
  @media screen and (min-width: 500px) {
    margin-top: 1vw;
    width: 3vw;
    height: 3vw;
    line-height: 3vw;
  }
  @media screen and (max-width: 500px) {
    margin-top: 1vh;
    width: 5vh;
    height: 5vh;
    line-height: 5vh;
  }
}
